<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Training APP</span>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-nav-list>
            <mat-list-item>
                <a matLine routerLink="/binding">Data Bindings</a>
            </mat-list-item>
            <mat-list-item>
                <a matLine routerLink="/test">Route Test</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>